.box-1{
    width: 300px;
    height: 500px;
    background-color: aqua;
    background-image: url(https://ik.imagekit.io/kathiravan/HTML%20DEMO/todolistbg.webp);
    background-repeat: no-repeat;
    font-family: "Roboto", serif;
    color: white;
    .fond-1{
        text-align: center;
    }
    .fond-2{
        text-align: center;
    }
    .button-1{
        background-color: orange;
        border: 2px solid;
        border-right-color: black;
        border-bottom-color: black;
        color: white;
        font-size: 20px;
        margin-left: 120px;
    }
    .fond-3{
        text-decoration: underline;
        text-align: center;
    }

}

.chat-bg{
    width: 400px;
    height: 500px;
    background-color: aqua;
    background-image: url(https://ik.imagekit.io/kathiravan/HTML%20DEMO/chatbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}